body{
    background-color:rgb(1, 23, 59, 1);
    margin: 70px;
  
  }
  .principalBox{
      background: rgba(184,233,237,255);
      height: 500px;
      width: 650px;
      padding-top: 50px;
      margin-left: 450px;
      border-radius: 5%;  
  }
  h1{
      display:block;
      height: 50px;
      width: 200px;
      font-family:Arial;
      margin-top: 100px;
      margin: 45px;
    }
  p{
      display:inline-block;
      height: 1px;
      width: 250px;
      font-family: Arial;
      font-size: 20px;
      text-align: left;
      margin-left: 45px;
  }
  .cohete{   
      display:inline-block;
      width: 30%;
      margin-left:70px;
  }
  .btnPracticar{
      display: inline-block;
      background:rgb(1, 23, 59, 1);
      border-radius: 13%;
      height: 30px;
      width:250px;
      color:white;
      font-family: Arial;
      font-size: 15px;
      margin:45px;
    }